page-liveview {
  #liveviewData ion-card {
    height: 29vh;
  }

  ion-buttons {
    margin: 0 10px;
  }

  ion-title input {
    text-align: center;
  }
  #sampleData ion-card {
    height: 200px;
  }
  #sampleData {
    text-align: center;
  }
  ion-icon {
    font-size: 20pt;
    padding-bottom: 2px;
  }
}
