page-sample {

}

#bluetoothPairing-list ion-item {
  border: 1px solid #ddd;
  margin: -1px;
}

#pairingList ion-icon {
  font-size: 2.7em;
  padding: 10px 0;
}

#pairingList .buoyTitle {
  font-size: 1.6em;
}

#pairingList ion-item:active {
  background: #ececec;
}
