<ion-header>
  <ion-navbar>
    <ion-title>
      Bluetooth Pairing
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content>

  <ion-refresher (ionRefresh)="doRefresh($event)" [pullMin]="100" [pullMax]="300" style="padding-top: 30px">
    <ion-refresher-content
      pullingIcon="arrow-down"
      pullingText="Pull to refresh"
      refreshingSpinner="ios"
      refreshingText="Searching for WaterWand devices...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list *ngIf="devices.length===0" id="pairingList" no-border>

    <ion-list-header>
      Devices (Pull to refresh)
    </ion-list-header>

    <ion-item *ngFor="let device of devices" (click)="connect(device)" >
      <ion-icon name='help-buoy' item-start></ion-icon>
      <div class="buoyTitle">{{device.name}}</div>
      <!--<ion-note item-end>-->
      <!--Buoy 1 Description-->
      <!--</ion-note>-->
      <ion-icon name='arrow-forward' item-end color="medium"></ion-icon>
    </ion-item>
  </ion-list>
  <div *ngIf="devices.length===0" padding>
    <div id="no-devices-text">
      <h1>No WaterWand devices found!</h1><br />
      <h3>Troubleshooting:</h3>
      <ol>
        <li>Make sure bluetooth low energy is enabled on this device</li>
        <li>Ensure the WaterWand device is switched on</li>
        <li>Wait a couple moments and refresh the page (pull to refresh)</li>
        <li>If the problem persists, reboot the WaterWand</li>
      </ol>
    </div>
  </div>


</ion-content>
