<ion-header>
  <ion-navbar>
    <ion-title>Manage Data</ion-title>
  </ion-navbar>
</ion-header>

<ion-content>
  <div padding>
    <button *ngIf="allData.length!==0" ion-button block large round (click)="uploadAll()">
      <ion-icon name='cloud-upload' item-start padding-right="10px" style="font-size: 2em"></ion-icon>
      <b>Upload All Samples</b>
    </button>
  </div>

  <ion-list *ngIf="allData.length!==0" no-border>
    <ion-list-header>
      All Samples
    </ion-list-header>

    <ion-item *ngFor="let data of allData" (click)="openSample(data.id)">
      {{data.name!="" ? data.name : "Untitled Sample "+data.id}}
      <ion-icon name='arrow-forward' item-end color="medium"></ion-icon>
    </ion-item>
  </ion-list>
  <div *ngIf="allData.length===0" padding>
    <div id="no-samples-text">No samples yet!<br />
      Use the "New Sample" tab below to start collecting.</div>
    <ion-icon id="no-samples-arrow" name='arrow-round-down'></ion-icon>
  </div>
</ion-content>
